body {
    background-color: rgb(241, 242, 255);
}

.undMedida {
    font-size: 20px;
    font-weight: 700;
}

.resultadoIMCGroup {
    display: flex;
    
}
.iconText {
    font-size:20px ;
}
.calculadora {
    border: 1px solid rgb(255, 0, 0);
    padding: 30px;
    border-radius: 30px;
}

.title {
    font-size: 40px;
}

.text {
    font-weight: 700;
    font-size: 30px;
}

.calcular{
    display: flex;
    align-items: center;
}
.btnCalcular {
    margin: 0 auto;
    margin-top: 10px;
    padding-inline: 30%;
    font-weight: 600;
    font-size: 2rem;
}